<style>
.scroll-content{

}
.image{


}
</style>

<ion-view>
	<ion-content>

				<div ng-controller="DbController">

		<div class="row padding" style="padding-top:20px;">
			<div class="col">
					 <form name="recetaList" id="editForm" ng-submit="UpdateInfo(currentUser)">

<h4 class="text-center">Update Medicine Details here</h4>

					<div class="container">

					<div class="card">
					  <div class="item item-text-wrap">
					Medicine Details
					<hr>
					<div class="list">

						<label class="item item-input">
					<input type="text" name="r_drug" class="form-control" ng-model="currentUser.r_drugname" value="{{currentUser.r_drugname}}">
						</label>

						<label class="item item-input">
						 <input type="text" name="r_dosage" class="form-control"  ng-model="currentUser.r_dosage" value="{{currentUser.r_dosage}}>
						</label>
					</center>



						</div>
					</div>

					</div>





					<div class="card">
					  <div class="item item-text-wrap">
					Frequency
					<hr>

					<div class="list">
				<label class="item item-input item-select">
				 <div class="input-label">
					Schedule
					<select  name="r_schedule" ng-model="currentUser.r_schedule"  value={{r_schedule}}>
							<option value="1">Once a day </option>
					<option value="2">Twice a day </option>
					<option value="3">Thrice a day </option>



							</select>
						</div>
						</label>


						<label class="item item-input item-select">
						 <div class="input-label">
							Per
							<select  name="r_perhour" ng-model="currentUser.r_perhour"  value{{r_perhour}}>
									<option value="1"> 3 hours</option>
							<option value="2">6 hours</option>
							<option value="3">8 hours </option>



									</select>
								</div>
								</label>
				</div>
				</div>
				</div>


					<div class="card">
						<div class="item item-text-wrap">
					Doctor's Details
					<hr>
					<div class="list">

						<label class="item item-input">
						 <input type="text" name="r_doctorname" class="form-control" ng-model="currentUser.r_doctorname" value="{{r_doctorname}}">
						</label>



						<label class="item item-input">
						 <input type="text" name="r_licenced" class="form-control" ng-model="currentUser.r_licenced" value="{{r_licenced}}">
						</label>
					</center>

					</div>

						</div>

					</div>



								<center>
									<button class="button button-calm button-block" ng-click="updateMsg(currentUser.r_ID) href="#/app/account" style=" border-radius:5px; width:335px; height:5px; background-color: #80deea; border-color:#bbbbbb; color:#fff;"> Update medicine</button>
								</center>

			</div>
			</div>

			</form>
			</div>
			</div>



	</ion-content>
</ion-view>
