<style>

.title{
color:#fff;

}
</style>


<ion-view view-title="Find Medicine">
	<ion-content ng-controller="ExampleController">


		<div>
		<br>

<center>
		  <button class="button button-light"  ng-click="add()" style="width:300px; border-radius:50px; margin-bottom:20px; color: #fff; background-color:#2AD17D;">Add notification</button>
		   <button class="button button-light" ng-click="isScheduled()" style="width:300px; border-radius:50px; margin-bottom:20px; color: #fff; background-color:#2AD17D;">Is Scheduled</button>
		</div>
</center>
<br>
	</ion-content>
</ion-view>
