<style>
.laman{
background-color:	#F8F8F8;

}
.card1
 .item{
  background: #13E39A;

}

.card2
 .item{
  background: white;
}

.title{
color:#fff;

}

</style>

<ion-view view-title="Home">
	<ion-content >
		<div class="item item-image">
			<img src="img/banner.jpg">

		</div>
<div class="laman">
<br>


<div class="row">
	<div class="col col-50">
	<div class="card1">
	  <div class="item item-text-wrap"><center><a class="icon ion-android-list padding" href="#/app/account" style="font-size:100px;  color:white; "></a></center>
			<center><h2 style="color:#fff; font-size:20px;">Schedule</h2>			</center>
	  </div>
	</div>
</div>



<div class="col col-50">
	<div class="card2">
	  <div class="item item-text-wrap"><center><a class="icon ion-android-add padding" href="#/app/addreceta" style="font-size:100px;  color:#13E39A "></a></center>
			<center><h2 style="color:#13E39A; font-size:18px;">Add Medication</h2>			</center>

	  </div>
	</div>
	</div>

</div>


<div class="row">
<div class="col col-50">
	<div class="card2">
		<div class="item item-text-wrap"><center><a class="icon ion-search padding" href="#/app/wiki" style="font-size:100px;  color:#13E39A;"></a></center>
			<center><h2 style="color:#13E39A; font-size:20px;">Find Medicine</h2>			</center>
	  </div>
	</div>
</div>

<div class="col col-50">
	<div class="card1">
		<div class="item item-text-wrap"><center><a class="icon ion-android-list padding" href="#/app/recetalist" style="font-size:100px;  color:#FFF;"></a></center>
			<center><h2 style="color:#FFF; font-size:20px;">Medicine List</h2>			</center>
	  </div>
	</div>
</div>

</div>

</div>
<br>
	</ion-content>
</ion-view>
