<style>
.title{
color:#fff;

}

</style>




<ion-view view-title="Find Location">
  <ion-content >
    <div class="list">
      <div class="item item-text-wrap">
        <h2>Set your current location, it is only accessed by pressing the button below.</h2>
      </div>
<br>
      <center>
      <button class="button button-light button-block center" ng-click="vm.useGeolocation()"  style= "height:50px; width:350px; color:#2AD17D; border-color: #2AD17D;">
        Use Current Location
      </button></center>
    </div>
  </ion-content>
</ion-view>
