<style>
.scroll-bg{
 background: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;


    }


    .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

</style>



<ion-view class="scroll-bg">
  <ion-content>
<div class="scroll-bg">
<a class="button icon-left ion-chevron-left button-clear button-light" href="#/landing" style="color:black;">Back</a>

<img src="img/logo.png" class="center"  style="width:200px; height:auto;">
<div class = "row responsive-sm" style="padding-top:30px;">

<div class="card" style="padding-top:5px;"">
  <div class="item item-text-wrap">
<center>Registration Form</center>
<hr>
<div class="list">


  <label class="item item-input item-floating-label">
    <span class="input-label">Name</span>
    <input type="text" placeholder="Name">
  </label>

  <label class="item item-input item-floating-label">
    <span class="input-label">Username</span>
    <input type="password" placeholder="Username">
  </label>

  <label class="item item-input item-floating-label">
    <span class="input-label">Password</span>
    <input type="text" placeholder="Password">
  </label>
<br>
<center>

    <a class="button button-light button-outline" href="#/app/home" style=" border-radius:50px; height:60px; width:245px; height:1px;  border-color: #2AD17D; color:#2AD17D;">Register</a>
<br><a href="#/login" style=" border-radius:50px; color:#101010;">Log in here</a>
</center>
</div>
  </div>

</div>
</div>
</div>
</ion-view>
